@tailwind base;
@tailwind components;
@tailwind utilities;


  .focus\:ring-4:focus{ --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
}
.custom-modal-container {
  --tw-bg-opacity: .6;
  background-color: rgb(33 33 33 / var(--tw-bg-opacity)) !important;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');
